<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AllBookServlet</servlet-name>
        <servlet-class>book.servlet.AllBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryOfBookServlet</servlet-name>
        <servlet-class>book.servlet.CategoryOfBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreOfBookServlet</servlet-name>
        <servlet-class>book.servlet.GenreOfBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>book.servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>book.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemInCartServlet</servlet-name>
        <servlet-class>book.servlet.RemoveItemInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseItemServlet</servlet-name>
        <servlet-class>book.servlet.IncreaseItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecreaseItemServlet</servlet-name>
        <servlet-class>book.servlet.DecreaseItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>book.servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingPageServlet</servlet-name>
        <servlet-class>book.servlet.ShippingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>book.servlet.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>book.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllBookServlet</servlet-name>
        <url-pattern>/AllBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryOfBookServlet</servlet-name>
        <url-pattern>/CategoryOfBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreOfBookServlet</servlet-name>
        <url-pattern>/GenreOfBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemInCartServlet</servlet-name>
        <url-pattern>/RemoveItemInCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseItemServlet</servlet-name>
        <url-pattern>/IncreaseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecreaseItemServlet</servlet-name>
        <url-pattern>/DecreaseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingPageServlet</servlet-name>
        <url-pattern>/ShippingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/Shipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
